@import './variables.less';
@import './font.less';
@import './bootstrap-custom.less';


body {
    font-family: "Myriad Pro Regular", "Helvetica", "Arial", sans-serif;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    color: @custom-color-black;
}

h1,h2,h3,h4 {
    color: @custom-color-blue;
}

nav {
    .navbar-brand {
        .title {
            margin-left: 3px;
        }
        .logo {
            height: 40px;
            margin-top: -10px;
        }
    }

    @media (max-width: @screen-xs-max) {
        .navbar-brand {
            width: 100%;
            text-align: center;
        }
    }
}

.overview {
    .graph {
        //    width: 300px;
        height: 300px;

    }
    .payee-new {
        color: @custom-color-orange;
    }
    div.payments {
        ul {
            list-style-type: none;
            padding: 10px;
            span.future {
                color: @custom-color-orange;
            }
        }
    }
}

table {
    table-layout: fixed;
}

table.payments {
    td.future {
        color: @custom-color-orange;
    }

}

.payee-profile {
    margin-bottom: 30px;
}

div.submit {
    text-align: center;
    margin-bottom: 30px;
}
.error-message {
    color: @brand-danger;
    margin-top: 5px;
}