<h2>Payees index</h2>
{{#link-to 'payees.new'}}New payee{{/link-to}}
<ul>

    {{#each item in model}}
        {{log item}}
        <li>
            {{#link-to 'payees.payee' item.id}} {{item.name}}{{/link-to}}
        </li>
    {{/each}}
</ul>